{% extends 'base.html' %}

{% block title %}
EDULICIOUS - Notes
{% endblock title %}

{% block style %}

<style>
    h1 {
        font-size: 40px;
        font-family: cursive;
        font-weight: bolder;
    }

    .cls {
        border: 2px;
        border-style: ridge;
        border-color: lime;
        border-radius: 25px;
        color: yellow;
        background-color: #493c3c86;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .cls:hover {
        color: orangered;
        background-color: rgba(0, 255, 255, 0.562);
    }

    .col-md-12 {
        border: 2px;
        border-style: ridge;
        border-color: lime;
        border-radius: 25px;
        overflow: auto;
        max-height: 530.33px;
        text-align: center;
    }

    .card-img-top {
        height: 130px;
        width: 130px;
    }

    .card {
        max-height: 230px;
        max-width: 130px;
        height: 230px;
        width: 130px;
        margin: 20px;
        background-color: #2e2e2cf8;
        border-radius: 20px 70px 20px 20px;
        margin-left: 33%;
        text-decoration: none;
    }
    

    .card-text, .card-text:link {
        color: lime;
        font-size: inherit;
        font-weight: 500;
        text-decoration: none;
        overflow: hidden;
    }

    .card-text:hover {
        color: darkorange;
        text-decoration: none;
    }

    a, a:hover {
        text-emphasis: none;
        text-decoration: none;
    }

    .nav-pills .pill-1 .nav-link:not(.active) {
        background-color: black;
        color: rgb(171, 209, 66);
        font-weight: 900;
    }

    .nav-pills .pill-2 .nav-link:not(.active) {
        background-color: black;
        color: rgb(171, 209, 66);
        font-weight: 900;
    }

    .nav-pills .pill-3 .nav-link:not(.active) {
        background-color: black;
        color: rgb(171, 209, 66);
        font-weight: 900;
    }

    /* active (faded) */
    .nav-pills .pill-1 .nav-link {
        background-color: greenyellow;
        color: blue;
        font-weight: 900;
    }

    .nav-pills .pill-2 .nav-link {
        background-color: greenyellow;
        color: blue;
        font-weight: 900;
    }

    .nav-pills .pill-3 .nav-link {
        background-color: greenyellow;
        color: blue;
        font-weight: 900;
    }

    .card-body {
        padding: 0.25rem;
    }

</style>

{% endblock style %}

{% block body %}

<div class="container mt-3">
    <h1>
        Worksheets and Notes
        {% if show_1 %}
            Class 1
        {% elif show_2 %}
            Class 2
        {% elif show_3 %}
            Class 3
        {% elif show_4 %}
            Class 4
        {% elif show_5 %}
            Class 5
        {% elif show_6 %}
            Class 6
        {% elif show_7 %}
            Class 7
        {% elif show_8 %}
            Class 8
        {% elif show_9 %}
            Class 9
        {% elif show_10 %}
            Class 10
        {% endif %}
    </h1>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills ml-1" id="pills-tab" role="tablist">
                <li class="nav-item pill-1" role="presentation">
                    <a class="nav-link active" id="pills-maths-tab" data-toggle="pill" href="#pills-maths" role="tab" aria-controls="pills-maths" aria-selected="true"><h5>Maths</h5></a>
                </li>
                <li class="nav-item pill-2" role="presentation">
                    <a class="nav-link" id="pills-science-tab" data-toggle="pill" href="#pills-science" role="tab" aria-controls="pills-science" aria-selected="false"><h5>Science</h5></a>
                </li>
                <li class="nav-item pill-3" role="presentation">
                    <a class="nav-link" id="pills-others-tab" data-toggle="pill" href="#pills-others" role="tab" aria-controls="pills-others" aria-selected="false"><h5>Others</h5></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="tab-content" id="v-tabContent">
                {% if show_1 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_1 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_1 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_1 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_2 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_2 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_2 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_2 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_3 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_3 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_3 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_3 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_4 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_4 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_4 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_4 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_5 %}
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                            {% for i in clas_5 %}
                                {% if i.subject == 'Maths' %}
                                    <div class="card mx-auto">
                                        <a href="{{ i.file_link }}" target="_blank">
                                            <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                            <div class="card-body">
                                                <div class=" card-body card-text">
                                                    {% if i.file_name|length > 25 %}
                                                        {{ i.file_name|slice:25 }}...
                                                    {% else %}
                                                        {{ i.file_name }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                            {% for i in clas_5 %}
                                {% if i.subject == 'Science' %}
                                    <div class="card mx-auto">
                                        <a href="{{ i.file_link }}" target="_blank">
                                            <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                            <div class="card-body">
                                                <div class=" card-body card-text">
                                                    {% if i.file_name|length > 25 %}
                                                        {{ i.file_name|slice:25 }}...
                                                    {% else %}
                                                        {{ i.file_name }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                            {% for i in clas_5 %}
                                {% if i.subject == 'Others' %}
                                    <div class="card mx-auto">
                                        <a href="{{ i.file_link }}" target="_blank">
                                            <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                            <div class="card-body">
                                                <div class=" card-body card-text">
                                                    {% if i.file_name|length > 25 %}
                                                        {{ i.file_name|slice:25 }}...
                                                    {% else %}
                                                        {{ i.file_name }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                {% elif show_6 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_6 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_6 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_6 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_7 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_7 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_7 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_7 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_8 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_8 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_8 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_8 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_9 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_9 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_9 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_9 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif show_10 %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="pills-maths-tab">
                        {% for i in clas_10 %}
                            {% if i.subject == 'Maths' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
                        {% for i in clas_10 %}
                            {% if i.subject == 'Science' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
                        {% for i in clas_10 %}
                            {% if i.subject == 'Others' %}
                                <div class="card mx-auto">
                                    <a href="{{ i.file_link }}" target="_blank">
                                        <img src="/static/pdf.png" class="card-img-top" alt="pdf_file_image">
                                        <div class="card-body">
                                            <div class=" card-body card-text">
                                                {% if i.file_name|length > 25 %}
                                                    {{ i.file_name|slice:25 }}...
                                                {% else %}
                                                    {{ i.file_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
</div>

{% endblock body %}